body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.accordion_container{
    width: 30vw;
}

div.accordion_container > div.accordion_item > div.accordion_title{
    background-color: blue;
    color: white;
    padding: 5px;
    position: relative;
    width: calc(100% - 10px);
}

div.accordion_container > div.accordion_item > div.accordion_title:hover{
    cursor: pointer;
}

div.accordion_container > div.accordion_item > div.accordion_title::before{
    content: "+";
    position: absolute;
    right: 5px;
}

div.accordion_container > div.accordion_item > div.openTitle::before{
    content: "-";
}

div.accordion_container > div.accordion_item > div.accordion_content{
    background-color: lightblue;
    color: black;
    padding: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}
